:root {
    --color-dark-accent: hsl(0, 0%, 10%);
    --color-light-text: white;
    --nav-height: 64px;
    --heading-size: calc(2rem + 6vw);
    --color-red-transparent: rgba(255, 0, 0, 0.5);
    --color-white-transparent: rgba(255, 255, 255, 0.5);

}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;   
    
    background-color: var(--color-dark-accent);
    
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3
{
    font-family: 'PT Sans Narrow', sans-serif;
}

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


p {
    font-size: 16px;
}

h1 {
    font-size: var(--heading-size);
}

h2 {
    font-size: calc(var(--heading-size) * 0.75);
}

header {
    display: grid;
    grid-auto-flow: row;
    place-items: center;

    height: calc(100vh - var(--nav-height));
    width: 100%;
    padding: 20px;

    background-color: hsl(0, 0%, 50%);
    background-image: url(img/food-on-table-large.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;

    border: calc(2px + 0.5vw) solid white;

    color: var(--color-light-text);
}

header div {
    text-align: center;
    padding: 0em 2em 0.8em;
    border: 2px solid var(--color-light-text);
    background-color: hsla(0, 0%, 0%, 0.5);
}

header p {
    font-size: calc((var(--heading-size)*0.25) + 0.5rem);
}


nav {
    top: -1px;
    position: sticky;
    z-index: 999;

    display: grid;
    place-content: center;

    width: 100%;
    height: var(--nav-height);

    background-color: var(--color-dark-accent);
    color: var(--color-light-text);

}

nav ul {
    padding: 0;
    text-align: center;
    white-space: nowrap;
}

nav li {
    display: inline-block;
    margin: 0em 4vw;
}

/* Nav button styling */
nav li a {
    font-size: 2em;
    text-decoration: none;
    color: var(--color-light-text);
}

/* Nav button transforms */
nav a:hover,
nav a:focus {
    transform: scale(110%);
    transition: ease-in-out 100ms;
}

main article {
    display: flex;
    
    width: 100;
    padding: 50px;
    
    /* Gjør høyden 100% av skjermens høyde - nav */
    /* height: calc(100vh - var(--nav-height)); */

    background-color: rgb(255, 255, 255);
    background-image: 
        repeating-linear-gradient(0deg, var(--color-red-transparent) , var(--color-red-transparent) 40px, var(--color-white-transparent) 40px, var(--color-white-transparent) 80px), 
        repeating-linear-gradient(90deg, var(--color-red-transparent), var(--color-red-transparent) 40px, var(--color-white-transparent) 40px, var(--color-white-transparent) 80px);
}

.menu-card {
    display: grid;
    grid-auto-flow: row;

    width: 800px;

    margin: 50px auto;
    margin-top: var(--nav-height);
    padding: 5em 8em;
 
    background-color: whitesmoke;
    outline: 1px solid lightgray;
    box-shadow: 1em 1em 2em darkgray;
}

.menu-card>h2 {
    justify-self: center;
    margin: 0 0 1em;

    grid-column: 1 / end;
}

.menu-card>section {
    display: grid;
    gap: 2em;
    grid-template-columns: min-content auto;

    margin-bottom: 200px;
}

main article section>*:first-child {
    font-size: 2em;
    top: var(--nav-height);
    position: sticky;
    text-align: end;

    grid-column-start: 1;
}

.dish-card {
    grid-column-start: 2;
    
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto min-content;
    gap: 1em;

    padding-bottom: 2em;
    border-bottom: 2px solid black;
}

.dish-card>*:not(img) {
    align-self: baseline;
    grid-column-start: 1;
    font-style: normal;
}

.dish-card>img {
    grid-column-start: 1;
    display: block;
    float: left;
    height: 200px;
}

.dish-card>p:first-of-type {
    font-family: 'PT Sans Narrow', sans-serif;
    grid-column-start: 2;
    font-size: 1.2em;
}

.nowrap {
    white-space: nowrap;
}

footer {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 2em;

    height: 100px;
    padding: 2vw;
    
    background-color: var(--color-dark-accent);
    color: var(--color-light-text);
}