:root {
    --nav-height: 64px;
    --heading-size: calc(8rem);
    --dish-card-margin: 0.5em;

    --checkered-pattern-spacing: 80px;
    --fabric-texture-opacity: 5%;

    --color-dark-accent: hsl(0, 0%, 10%);
    --color-light-text: white;
    --color-red-transparent: rgba(234, 13, 1, 0.6);
    --color-transparent: rgba(0, 0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;   
    
    background-color: var(--color-dark-accent);
    
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3
{
    font-family: 'PT Sans Narrow', sans-serif;
}

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


p {
    font-size: 16px;
}

h1 {
    font-size: var(--heading-size);
}

h2 {
    font-size: calc(var(--heading-size) * 0.618);
}

h3 {
    font-size: calc(var(--heading-size) * 0.618 * 0.618);
}

header {
    display: grid;
    grid-auto-flow: row;
    place-items: center;

    height: calc(100vh - var(--nav-height));
    width: 100%;
    padding: 20px;

    background-color: hsl(0, 0%, 80%);
    background-image: url(img/food-on-table-large.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;

    border: calc(10px) solid white;

    color: var(--color-light-text);
}

/* This part was added to increase the text contrast against the background image after using a color contrast validator */
header div {
    text-align: center;
    padding: 0em 2em 0.8em;
    border: 5px solid var(--color-light-text);
    background-color: hsla(0, 0%, 0%, 0.75);
}

header p {
    font-size: calc((var(--heading-size)*0.25) + 0.5rem);
}


nav {
    top: 0px;
    position: sticky;

    display: grid;
    place-content: center;

    width: 100%;
    min-height: var(--nav-height);

    background-color: var(--color-dark-accent);
    color: var(--color-light-text);

}

nav ul {
    padding: 0;
    text-align: center;
    white-space: nowrap;
}

nav li {
    display: inline-block;
    margin: 0 2em;
}

/* Nav button styling */
nav li a {
    font-size: 2em;
    text-decoration: none;
    color: var(--color-light-text);
}

/* Nav button transforms */
footer a:hover,
footer a:focus,
nav a:hover,
nav a:focus {
    outline: 2px solid white;
    outline-offset: 2px;
    transition: ease-in-out 100ms;
}

main {
    display: grid;
    place-items: center;
    
    width: 100%;
    
    /* Denne delen av koden lager en rutete bakgrunn, endre --checkered-pattern-spacing for å justere størrelsen */
    background-color: rgba(252, 251, 248);
    background-image: 
        repeating-linear-gradient(0deg, rgb(255,255,255,var(--fabric-texture-opacity)), rgb(255,255,255,var(--fabric-texture-opacity)) calc(var(--checkered-pattern-spacing)/20), rgb(255,255,255,var(--fabric-texture-opacity)), rgb(0,0,0,var(--fabric-texture-opacity)) calc(var(--checkered-pattern-spacing)/20), rgb(0,0,0,var(--fabric-texture-opacity)) calc(var(--checkered-pattern-spacing)/10)),
        repeating-linear-gradient(90deg, rgb(255,255,255,var(--fabric-texture-opacity)), rgb(255,255,255,var(--fabric-texture-opacity)) calc(var(--checkered-pattern-spacing)/20), rgb(255,255,255,var(--fabric-texture-opacity)), rgb(0,0,0,var(--fabric-texture-opacity)) calc(var(--checkered-pattern-spacing)/20), rgb(0,0,0,var(--fabric-texture-opacity)) calc(var(--checkered-pattern-spacing)/10)),
        repeating-linear-gradient(180deg, var(--color-transparent) , var(--color-transparent) var(--checkered-pattern-spacing), var(--color-red-transparent) var(--checkered-pattern-spacing), var(--color-red-transparent) calc(var(--checkered-pattern-spacing)*2)), 
        repeating-linear-gradient(90deg, var(--color-transparent) , var(--color-transparent) var(--checkered-pattern-spacing), var(--color-red-transparent) var(--checkered-pattern-spacing), var(--color-red-transparent) calc(var(--checkered-pattern-spacing)*2)); 
        background-blend-mode: multiply;
}

article{
    display: grid;
    grid-auto-flow: row;
    /* grid-template-columns: 61.8%; */
    place-items: center;
    
    width: 61.8%;

    margin: var(--nav-height) auto;
 
    background-color: rgb(249, 251, 255);
    outline: 1px solid lightgray;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.50);
}

article>* {
    max-width: 61.8%;
}

article>p {
    margin-bottom: 2em;
    text-align: left;
    line-height: 160%;
}

article>h2 {
    text-align: center;
    margin: 1.618em 0 0.618em;
}

article>section {
    display: grid;
    gap: 2em;
    grid-template-columns: min-content auto;

    margin-bottom: 100px;
}

/* eg: Lunch, Main-Dish */
article section>*:first-child {
    text-align: center;
    margin-bottom: 0.618em;

    grid-column: 1 / end;
}

.dish-card {
    text-align: left;
    grid-column-start: 2;
    
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: auto min-content; */
    
    margin: calc(-1 * var(--dish-card-margin));

    padding-bottom: 2rem;
}

.dish-card>* {
    margin: var(--dish-card-margin);
}

.dish-card>*:first-child {
    font-size: 1.618rem;
}

.dish-card>p:first-of-type {
    grid-column: 2;

    text-align: right;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.618rem;
}

.dish-card>* {
    align-self: baseline;
    grid-column: 1;
    font-style: normal;
}

.dish-card>img {
    height: 200px;
    width: 200px;

    flex-shrink:101;

    float: left;
    object-fit: cover;
    object-position: bottom left;
}

.dish-card::before {
    content: "";
    border-bottom: 2px solid black;

    margin: 0 var(--dish-card-margin);
    grid-column: 1 / 3;
    grid-row: 2;
}

.nowrap {
    white-space: nowrap;
}

footer {
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    gap: 1.618em;

    height: auto;
    padding: 1.618em;
    
    background-color: var(--color-dark-accent);
    color: var(--color-light-text);
}
footer a{
    text-decoration: none;
    color: #fff;
}
